/* color theme from default Google Prettify */
html[data-code-theme="light"] {
	--syntax-str: #008800;
	--syntax-kwd: #000088;
	--syntax-com: #880000;
	--syntax-typ: #660066;
	--syntax-lit: #006666;
	--syntax-pun: #666600;
	--syntax-opn: #666600;
	--syntax-clo: #666600;
	--syntax-pln: #000000;
	--syntax-tag: #000088;
	--syntax-atn: #660066;	
	--syntax-atv: #008800;
	--syntax-dec: #660066;
	--syntax-var: #006666;
	--syntax-fun: #660066;
	
	--syntax-err: #ff0000;
	
	--code-color: #333;
	--code-header-color: #ddd;
	--code-header-background: #666; /* hsl(0, 0%, 20%) */
	--code-background: hsl(var(--theme-hue), 0%, 95%);
}

/* Modified from highlight.js VS 2015 */
html[data-code-theme="dark"] {
	--syntax-str: #b67144;
	--syntax-kwd: #9268da;
	--syntax-com: #993333;
	--syntax-typ: #E28964;
	--syntax-lit: #3387CC;
	--syntax-pun: #bbbbbb;
	--syntax-opn: #bbbbbb;
	--syntax-clo: #bbbbbb;
	--syntax-pln: #cccccc;
	--syntax-tag: #3387CC;
	--syntax-atn: #89bdff;
	--syntax-atv: #E28964;
	--syntax-dec: #3387CC;
	--syntax-var: #3387CC;
	--syntax-fun: #E28964;
	
	--syntax-error: #ff0000;
	
	--code-color: #ddd;
	--code-header-color: #ddd;
	--code-background: #333;		
	--code-header-background: #444; 
}

/* from github prettify theme 
html {
	--syntax-str: #dd1144;
	--syntax-kwd: #333333;
	--syntax-com: #999988;
	--syntax-typ: #445588;
	--syntax-lit: #445588;
	--syntax-pun: #333333;
	--syntax-opn: #333333;
	--syntax-clo: #333333;
	--syntax-pln: #333333;
	--syntax-tag: navy;
	--syntax-atn: teal;	
	--syntax-atv: #dd1144;
	--syntax-dec: #333333;
	--syntax-var: teal;
	--syntax-fun: #445588;
	
	--syntax-error: #ff0000;
}
*/

/* Prettify Classes */
.prettyprint .pln { color: var(--syntax-pln); }		/* plaintext */

@media screen {
  .prettyprint .str { color: var(--syntax-str); }	/* string 			*/
  .prettyprint .kwd { color: var(--syntax-kwd); }	/* keyword 			*/
  .prettyprint .com { color: var(--syntax-com); }	/* comment 			*/
  .prettyprint .typ { color: var(--syntax-typ); }	/* type 				*/
  .prettyprint .lit { color: var(--syntax-lit); }	/* literal 			*/
  .prettyprint .pun { color: var(--syntax-pun); }	/* punctuation 	*/
  .prettyprint .opn { color: var(--syntax-opn); }	/* opening? 		*/
  .prettyprint .clo { color: var(--syntax-clo); }	/* closing? 		*/
  .prettyprint .tag { color: var(--syntax-tag); }	/* html/xml tag */
  .prettyprint .atn { color: var(--syntax-atn); }	/* html/xml attribute name */
  .prettyprint .atv { color: var(--syntax-atv); }	/* html/xml attribute value */
  .prettyprint .dec { color: var(--syntax-dec); }	/* decimal 			*/
  .prettyprint .var { color: var(--syntax-var); }	/* variable? 		*/
  .prettyprint .fun { color: var(--syntax-fun); }	/* function? 		*/
}


/* Chroma Classes */

/* Following was being generated but no style rule output. 
   Different specificity made Safari transition it at different timing so added */
/* .bp? */ .chroma .bp { color: var(--code-color); background-color: var(--code-background) }


/* Background */ .chroma { color: var(--code-color); background-color: var(--code-background-color) }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }

/* Keyword */ .chroma .k { color: var(--syntax-kwd); }
/* KeywordConstant */ .chroma .kc { color: var(--syntax-lit); }
/* KeywordDeclaration */ .chroma .kd { color: var(--syntax-kwd); }
/* KeywordNamespace */ .chroma .kn { color: var(--syntax-kwd); }
/* KeywordPseudo */ .chroma .kp { color: var(--syntax-kwd); }
/* KeywordReserved */ .chroma .kr { color: var(--syntax-kwd); }
/* KeywordType */ .chroma .kt { color: var(--syntax-lit); }
/* Name?			 */ .chroma .n { color: var(--syntax-pln); }
/* NameAttribute */ .chroma .na { color: var(--syntax-atn); }
/* NameBuiltin */ .chroma .nb { color: var(--syntax-typ) }
/* NameClass */ .chroma .nc { color: var(--syntax-kwd); }
/* NameConstant */ .chroma .no { color: var(--syntax-typ); }
/* NameDecorator */ .chroma .nd { color: var(--syntax-typ); }
/* NameEntity */ .chroma .ni { color: var(--syntax-typ); }
/* NameException */ .chroma .ne { color: var(--syntax-typ); }
/* NameFunction */ .chroma .nf { color: var(--syntax-fun) }
/* NameLabel */ .chroma .nl { color: var(--syntax-kwd); }
/* NameNamespace */ .chroma .nn { color: var(--syntax-lit); }
/* NameTag */ .chroma .nt { color: var(--syntax-tag); }
/* NameVariable */ .chroma .nv { color: var(--syntax-var); }
/* LiteralString */ .chroma .s { color: var(--syntax-str); }
/* LiteralStringAffix */ .chroma .sa { color: var(--syntax-str); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--syntax-str); }
/* LiteralStringChar */ .chroma .sc { color: var(--syntax-str); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--syntax-str); }
/* LiteralStringDoc */ .chroma .sd { color: var(--syntax-str); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--syntax-str); }
/* LiteralStringEscape */ .chroma .se { color: var(--syntax-str); }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--syntax-str); }
/* LiteralStringInterpol */ .chroma .si { color: var(--syntax-str) }
/* LiteralStringOther */ .chroma .sx { color: var(--syntax-str) }
/* LiteralStringRegex */ .chroma .sr { color: var(--syntax-str) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--syntax-str); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--syntax-str) }
/* LiteralNumber */ .chroma .m { color: var(--syntax-lit); }
/* LiteralNumberBin */ .chroma .mb { color: var(--syntax-lit); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--syntax-lit); }
/* LiteralNumberHex */ .chroma .mh { color: var(--syntax-lit); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--syntax-lit); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--syntax-lit); }
/* LiteralNumberOct */ .chroma .mo { color: var(--syntax-lit); }
/* Punctuaction */ .chroma .p { color: var(--syntax-pun); }
/* Operator */ .chroma .o { color: var(--syntax-pun); }
/* OperatorWord */ .chroma .ow { color: var(--syntax-pun); }
/* Comment */ .chroma .c { color: var(--syntax-com); }
/* CommentHashbang */ .chroma .ch { color: var(--syntax-com); }
/* CommentMultiline */ .chroma .cm { color: var(--syntax-com); }
/* CommentSingle */ .chroma .c1 { color: var(--syntax-com); }
/* CommentSpecial */ .chroma .cs { color: var(--syntax-com); }
/* CommentPreproc */ .chroma .cp { color: var(--syntax-com); }
/* CommentPreprocFile */ .chroma .cpf { color: var(--syntax-com); }
/* GenericDeleted */ .chroma .gd { color: var(--syntax-pln); text-decoration: strikethrough; }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr { color: var(--syntax-err); }
/* GenericHeading */ .chroma .gh { color: var(--syntax-pln); }
/* GenericInserted */ .chroma .gi { color: var(--syntax-pln); }
/* GenericOutput */ .chroma .go { color: var(--syntax-pln); }
/* GenericPrompt */ .chroma .gp { color: var(--syntax-pln); }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--syntax-pln); }
/* GenericTraceback */ .chroma .gt { color: var(--syntax-pln); }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: var(--syntax-pln) }

/* Print colors and styling */
@media print {
	html {
		--syntax-str: #006600;
		--syntax-kwd: #000066;
		--syntax-com: #660000;
		--syntax-typ: #440044;
		--syntax-lit: #004444;
		--syntax-pun: #444400;
		--syntax-opn: #444400;
		--syntax-clo: #444400;
		--syntax-pln: #333333;
		--syntax-tag: #000066;
		--syntax-atn: #440044;	
		--syntax-atv: #006600;
		--syntax-dec: #333333;
		--syntax-var: #440044;
		--syntax-fun: #000066;
		
		--syntax-error: #ff0000;
	}
	
	.chroma .k, .chroma .kc, .chroma .kd, .chroma .kn, .chroma .kp, .chroma .kr,
	.chroma .kt, kwd { 
		font-weight: bold; }
	.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs, 
	.chroma .cp, com {
		font-style: italic; }
	.chroma .nc, .chroma .no, .chroma .nd, .chroma .ni, .chroma .ne, 
	.chroma .nn, .typ {
		font-weight: bold; }
	.chroma .nt, .tag {font-weight: bold; }
}
