<head>
  {{- $normalizeCSS := resources.Get "css/normalize.css" | minify | fingerprint -}}
	<link rel="stylesheet" type="text/css" href="{{ $normalizeCSS.RelPermalink }}">
	{{- $barebonesCSS := resources.Get "css/barebones.css" | minify | fingerprint -}}
	<link rel="stylesheet" type="text/css" href="{{ $barebonesCSS.RelPermalink }}">
	{{- $syntaxCSS := resources.Get "css/syntax-highlight.css" | minify | fingerprint -}}
	<link rel="stylesheet" type="text/css" href="{{ $syntaxCSS.RelPermalink }}">
  {{- $compareCSS := resources.Get "templates/compare.css" | resources.ExecuteAsTemplate "css/compare.css" . | minify | fingerprint -}}
  <link rel="stylesheet" type="text/css" href="{{ $compareCSS.RelPermalink }}">
	{{- $layoutCSS := resources.Get "css/layout.css" | minify | fingerprint -}}
	<link rel="stylesheet" type="text/css" href="{{ $layoutCSS.RelPermalink }}">
</head>
