{{- /*
	shortcode to output a preformatted code block. takes two named params:
		 title: displayed in the header. If not provided no header will be displayed
		 language: language pass to the syntax highlighter (using built in chroma)
*/ -}}
<div class="code-wrapper{{ if ne (.Get "noHeader") "true" }}{{ printf " showHeader" }}{{ end }}">
{{ if ne (.Get "noHeader") "true" }}
<div class="code-header flex">
{{- with .Get "title" -}}<span>{{ . }}</span>{{- end -}}
</div>
{{- end -}}
{{ strings.TrimSuffix "</div>" ( strings.TrimPrefix "<div class=\"highlight\">" ( highlight (trim .Inner "\n\r") ( or ( .Get "language" ) ( .Get 0 )) ( or ( .Get "options" ) "" ) )) | safeHTML }}
</div>
